<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
        }

        span {
            display: block;
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://i.imgur.com/oUAKMC5.png">
        <span>Oi, {{name}}</span>
        <br />
        <span>Avalie nosso serviço abaixo!</span>
        <span>Para realizar a avaliação, clique no link:
            <a href={{link}}>{{link}}</a>
        </span>
        <span>Com sua avaliação, você está nos ajudando a sermos uma empresa melhor!</span>
        <strong>Obrigado!</strong>
        <h3>Equipe | <strong>NLW4</strong></h3>
    </div>
</body>

</html>